@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Dosis&subset=latin,latin-ext);

* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}
body {
    background-color: #fff;
    color: #313131;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    position: relative;
}
a {
    color: #339a99;
    text-decoration: none;
}
b, strong{
    color: #339a99;
}
h1 {
    color: #333333;
    font-size: 36px;
    font-weight: 400;
    margin: 0 0 10px;
}
h2 {

}
h3 {

}
p {
    font-size: 13px;
    line-height: 29px;
    margin: 13px 0;
}
ul {
    list-style-type: none;
    margin: 0 0 0 20px;
    padding: 0;
    li {
        background: url(../images/sprite.png) no-repeat 0 -132px;
        line-height: 29px;
        padding-left: 28px;
    }
}
img {
    max-width: 100%;
}
.wrapper {
    margin: 0 2%;
    width: 96%;
}
.line {
    display: block;
    margin: 0 auto;
}
.section img {
    display: none;
    float: right;
}
#nav {
    float: left;
    margin: 30px 20px 0 0;
    a {
        color: #fff;
        float: left;
        margin-top: 11px;
        &:before {
            background: url(../images/sprite.png) -83px 0 no-repeat;
            content: "";
            float: left;
            height: 16px;
            margin-right: 10px;
            width: 17px;
        }
    }
}
nav {
    background-color: #fff;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: 10;
    ul {
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        list-style-type: none;
        margin: 50px 0 0 0;
        padding: 0;
        width: 100%;
        li {
            background: none;
            border: 1px solid transparent;
            border-bottom: 1px solid #e7e7e7;
            display: inline-block;
            padding: 0;
            position: relative;
            text-align: center;
            width: 100%;
            &:hover {
                background-color: #f8f8f8;
                border: 1px solid #339a99;
                -webkit-box-shadow: 0 2px 0 0 #e9e9e9;
                box-shadow: 0 2px 0 0 #e9e9e9;
            }
            a {	
                color: #339a99;
                display: inline-block;
                font-family: 'Raleway', sans-serif;
                font-size: 14px;
                font-weight: 500;
                padding: 10px 0 7px 0;
                text-transform: uppercase;
                width: 100%;
                i {
                    padding-right: 5px;
                }
                &.active {
                    color: #339a99;
                }
            }
            ul {
                display: none;
                margin: 0;
            }
        }
    }
    &.hide {
        display: none;
    }
    &.show {
        display: block;
    }
    #close {
        background-color: #fff;
        -webkit-border-radius: 0 5px 5px 0;
        border-radius: 0 5px 5px 0;
        -webkit-box-shadow: inset 1px 0px 8px 0px #d2d2d2;
        box-shadow: inset 1px 0px 8px 0px #d2d2d2;
        padding: 14px 16px 14px 15px;
        position: absolute;
        right: -99px;
        top: 30px;
        span {
            &:before {
                background: url(../images/sprite.png) -84px -18px;
                content: "";
                float: left;
                height: 20px;
                margin-right: 5px;
                width: 20px;
            }
            text-transform: uppercase;
        }
    }
    .logo {
        img {
            display: block;
            margin: 30px auto 0 auto;
        }
        .name {
            margin-top: 15px;
            text-align: center;
            width: 100%;
            p {
                color: #000;
                line-height: 14px;
                margin: 0;
            }
        }
    }
    .about {
        margin-top: 125px;
        a {
            display: block;
            font-size: 13px;
            font-weight: 700;
            margin-bottom: 5px;
            text-align: center;
            &.telephon {
                color: #313131;
            }
        }
    }
}
#top {
    .top-left {
        &.hide {
            display: none;
        }
        &.show {
            display: block;
        }
    }
}
#logo {
    color: #919191;
    display: inline-block;
    float: left;
    font-size: 12px;
    margin: 15px 20px 0 0;
    width: 31%;
    img {
        float: left;
        margin-right: 15px;
    }
    .name {
        display: none;
        float: left;
        margin-top: 16px;
        p {
            line-height: 14px;
            margin: 0;
        }
    }
}
.home {
    background-color: #000;
    h1 {
        color: #fff;
        font-family: 'Dosis', sans-serif;
        font-size: 38px;
        line-height: 120%;
        margin-bottom: 28px;
    }
    h2 {
        color: #bcbbbb;
        font-size: 16px;
        font-weight: 600;
    }
    #top {
        z-index: 10;
        width: 100%;
    }
    #logo .name p {
        color: #fff;
    }
    .top-left {
        float: left;
        height: 90px;
        width: 66%;
    }
    .main header {
        /*position: absolute;
        top:200px;*/
        a {
            border: 2px solid #339a99;
            -webkit-border-radius: 19px;
            border-radius: 19px;
            color: #fff;
            display: block;
            line-height: 36px;
            margin:0 auto;
            padding: 0 20px;
            text-align: center;
            text-transform: uppercase;
            width: 80%;
        }
        p {
            color: #fff;
            line-height: 21px;
            margin-bottom: 60px;
            span {
                color: #339a99;
            }
        }
    }
    .doctor {
        position: absolute;
        right: 0;
        top: 0;
        &:before {
            background-position: 0 0;
        }
        &:hover img {
            border-color: #fff;
        }
    }
}
.doctor {
    cursor: pointer;
    float: right;
    margin: 15px 0 0 0;
    &:before {
        background: url(../images/sprite.png) -43px 0 no-repeat;
        content: "";
        float: left;
        height: 38px;
        margin: 12px 7px 0 0;
        width: 35px;
    }
    img {
        border: 2px solid transparent;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        padding: 5px;
    }
    &:hover img {
        border-color: #339a99;
    }
}
nav {
    &.hide {
        display: none;
    }
    &.show {
        display: block;
    }
}
footer {
    bottom: 20px;
    position: absolute;
    width: 100%;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            background: none;
            padding: 0;
            /*float: left;
            width: 25%;*/
        }
    }
}
footer.footer-other{
    position: static;
    margin: 20px 0 0 0;
}
@media screen and (min-width: 768px) {
    #logo {
        width: 50%;
        .name {
            display: block;
        }
    }
    #nav {
        &:before {
            content: "";
            border-left: 1px solid #fff;
            float: left;
            height: 40px;
            margin-right: 19px;
            width: 1px;
        }
    }
    .home .main header a {
        display: inline-block;
        width: auto;
    }
}
@media screen and (min-width: 1020px) {
    nav {
        width: 28%;
    }
    #logo {
        width: 253px;
    }
    #top {
        height: 111px;
        .top-wrapper {
            background-color: #fff;
            position: fixed;
            width: 100%;
            z-index: 10;
        }
    }
    .home {
        h1 {
            font-size: 75px;
            line-height: 60px;
        }
        #top {
            position: absolute;
        }
        .main header {
            position: absolute;
            top: 200px;
            a {

            }
            p {
                width: 44%;
            }
        }
    }
    .section img {
        display: block;
    }
    footer ul li {
        float: left;
        width: 25%;
    }
}
@media screen and (min-width: 1200px) {
    .wrapper {
        margin: 0 auto;
        padding: 0 1.41%;
        width: 1130px;
    }
    header {
        z-index: 1;
        width: 100%;
    }
    aside {
        clear: left;
        float: left;
        margin-bottom: 20px;
        width: 23%;
        ul {
            margin: 0;
            padding: 0;
            li {
                background: none;
                border-bottom: 1px solid #e7e7e7;
                border-right: 1px solid #ebebeb;
                -webkit-box-shadow: inset -9px 0px 10px 0px #f5f5f5;
                box-shadow: inset -9px 0px 10px 0px #f5f5f5;
                display: block;
                list-style-type: none;
                a {
                    color: #339a99;
                    display: block;
                    font-size: 14px;
                    font-weight: 700;
                    padding: 20px 0 18px;
                    text-transform: uppercase;
                    &:hover {
                        color: #313131;
                    }
                }
                ul {
                    padding-bottom: 20px;
                    li {
                        border: none;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                        padding: 9px 0;
                        width: 90%;
                        a {
                            color: #959595;
                            font-size: 11px;
                            line-height: 13px;
                            padding: 0;
                            &:hover {
                                color: #339a99;
                            }
                            &:first-child {
                                padding-top: 0;
                            }					
                        }
                    }
                    &.hide {
                        display: none;
                    }
                    &.show {
                        display: block;
                    }
                }
                &.active {
                    border-right: none;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    a {
                        color: #313131;
                    }
                }
                &.more {
                    a:after {
                        background: url(../images/sprite.png) -1px -39px no-repeat;
                        content: '';
                        float: right;
                        height: 29px;
                        margin-right: 40px;
                        width: 10px;
                    }
                    ul li a {
                        &:after {
                            background: none;
                        }
                        &:hover {
                            color: #313131;
                        }
                    }
                    &.active {
                        a {
                            color: #313131;
                            &:after {
                                background: url(../images/sprite.png) -1px -60px no-repeat;
                                content: '';
                                float: right;
                                height: 29px;
                                width: 16px;
                            }
                        }
                        ul li a {
                            color: #959595;
                            &:after {
                                background: none;
                            }
                            &:hover {
                                color: #313131;
                            }
                        }
                    }
                }
            }
        }
        .about {
            background: url(../images/border_menu_bottom.jpg) no-repeat bottom right;
            height: 153px;
            padding-top: 25px;
            a {
                display: block;
                font-size: 13px;
                font-weight: 700;
                margin-bottom: 5px;
                &.telephon {
                    color: #313131;
                }
            }
        }
    }
    .doctor {
        margin-top: 20px;
    }
    .static {
        #logo {
            background: url(../images/border_menu_top.jpg) no-repeat top right;
            height: 111px;
        }
    }
    .content {
        float: left;
        margin-left: 1.5%;
        padding-top: 10px;
        width: 71.5%;
        header {
            border-bottom: 1px solid #e9e9e9;
            margin-bottom: 15px;
        }
        .top {
            border: 1px dashed #339a99;-webkit-border-radius: 5px;
            border-radius: 5px;
            font-size: 17px;
            padding: 25px 12px 20px;
            p {
                font-size: 17px;
            }
        }
    }
    .faq {
        ul {
            list-style-type: none;
            margin: 0 0 0 14px;
            padding: 0;
            li {
                background: none;
                line-height: inherit;
                margin-bottom: 2px;
                padding-left: 0;
                ul{
                    list-style-type: none;
                    margin: 0 0 0 20px;
                    padding: 0;
                    li {
                        background: url(../images/sprite.png) no-repeat 0 -132px;
                        line-height: 29px;
                        padding-left: 28px;
                        &:nth-child(odd) {
                            background: url(../images/sprite.png) no-repeat 0 -132px;
                        }
                        &:nth-child(even){
                            background: url(../images/sprite.png) no-repeat 0 -132px;
                        }
                    }
                }
                &:nth-child(odd) {
                    background: #fafafa;
                    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZmFmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY2ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
                    background: -moz-linear-gradient(top,  #fafafa 0%, #f6f6f6 100%);
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#f6f6f6));
                    background: -webkit-linear-gradient(top,  #fafafa 0%,#f6f6f6 100%);
                    background: -o-linear-gradient(top,  #fafafa 0%,#f6f6f6 100%);
                    background: -ms-linear-gradient(top,  #fafafa 0%,#f6f6f6 100%);
                    background: linear-gradient(to bottom,  #fafafa 0%,#f6f6f6 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#f6f6f6',GradientType=0 );
                }
                &:nth-child(even) {
                    background: #ffffff;
                    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYzJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY2ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
                    background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 63%, #f6f6f6 100%);
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(63%,#ffffff), color-stop(100%,#f6f6f6));
                    background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 63%,#f6f6f6 100%);
                    background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 63%,#f6f6f6 100%);
                    background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 63%,#f6f6f6 100%);
                    background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 63%,#f6f6f6 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
                }
                &.active {
                    background: none;
                    h2 {
                        background: #339a99;
                        color: #fff;
                        span {
                            background: url(../images/sprite.png) 9px -78px no-repeat;
                        }
                    }
                }
                &:hover {
                    background: none;
                    h2 {
                        background: #339a99;
                        color: #fff;
                        span {
                            background: url(../images/sprite.png) 9px -78px no-repeat;
                        }
                    }
                }
                h2 {
                    color: #339a99;
                    cursor: pointer;
                    font-size: 14px;
                    margin: 0;
                    padding: 1.192em 39px 1.115em 18px;
                    position: relative;
                    text-transform: uppercase;
                    span {
                        background: url(../images/sprite.png) 11px -39px no-repeat;
                        height: 25px;
                        right: 9px;
                        overflow: hidden;
                        position: absolute;
                        text-indent: -999999px;
                        top: 8px;
                        width: 30px;
                    }
                }
                div {
                    display: none;
                    margin: 0.5em 0 0.666em 14px;
                }
            }
        }
    }
}

/* additional */
.more-article {
    background-color: #fff;
    border: 1px solid #efefef;
    font-size: 14px;
    padding: 16px 0 18px;
    text-align: center;
    text-transform: uppercase;
    a {
        color: #333333;
    }
}
.center {
    text-align: center;
}
.left {
    float: left;
}
.right {
    float: right;
}
.gradient {
    filter: none;
}
.clearfix:before,.clearfix:after {
    content:" ";
    display:table;
}
.clearfix:after{
    clear:both; 
}
.clearfix {
    *zoom: 1;
} 